<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${plano.tipo != null ? 'Editar plano' : 'Novo plano'}">Formulário de Plano</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="https://kit.fontawesome.com/1c8722ade6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header th:insert="~{fragments/menu :: menu}"></header>
    <section class="crudContainer">
        <div class="container">
            <form th:action="@{${'/planos/novo'}}" th:object="${plano}" method="post">
                <div>
                    <label for="txtCodigo">Código:</label>
                    <input type="text" th:field="*{codigo}" id="txtCodigo" placeholder="Digite o código" required th:readonly="${plano.codigo != null}">
                </div>
                <div>
                    <label for="txtTipo">Tipo:</label>
                    <input type="text" th:field="*{tipo}" id="txtTipo" placeholder="Digite o nome" required>
                </div>
                <div>
                    <label for="txtValor">Valor:</label>
                    <input type="number" th:field="*{valor}" id="txtValor" placeholder="Digite o valor" required>
                </div>
    
                <button type="submit" text="salvar" class="btn btnSalvar">Salvar</button>
            </form>
    
            <a th:href="@{/planos}" class="btn">Voltar à lista de planos</a>
        </div>
    </section>
</body>
</html>