<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${medico.nome != null ? 'Editar médico' : 'Novo médico'}">Form de médico</title>
    <script src="https://kit.fontawesome.com/1c8722ade6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <section class="crudContainer">
        <div class="container">
            <h1 th:text="${medico.nome != null ? 'Editar médico' : 'Novo médico'}">Médicos:</h1>
            
            <form th:action="@{${medico.nome != null} ? '/medico/editar/' + ${medico.codigo} : '/medico/novo'}" th:object="${medico}" method="post">
                <div>
                    <label for="txtCodigo">Código:</label>
                    <input type="text" th:field="*{codigo}" id="txtCodigo" placeholder="Digite o código" required readonly>
                </div>
                <div>
                    <label for="txtNome">Nome:</label>
                    <input type="text" th:field="*{nome}" id="txtNome" placeholder="Digite o nome" required>
                </div>
                <div>
                    <label for="txtArea">Área de Atuação:</label>
                    <input type="text" th:field="*{area}" id="txtArea" placeholder="Digite a área de atuação do médico(a)" required>
                </div>
                <div>
                    <label for="txtNumero">Número de telefone:</label>
                    <input type="text" th:field="*{numero}" id="txtNumero" placeholder="Digite o número de telefone" required>
                </div>

                <button type="submit" th:text="${medico.codigo != null ? 'Atualizar' : 'Salvar'}" class="btn btnSalvar">Salvar</button>
            </form>

            <a th:href="@{/medico}" class="btn">Voltar à lista de médicos</a>
        </div>
    </section>
</body>
</html>