<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacientes</title>
    <script src="https://kit.fontawesome.com/1c8722ade6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <section class="crudContainer">
        <div class="container">
            <h1>Pacientes cadastrados</h1>
            <div th:if="${mensagem}" class="msgContainer">
                <p th:text="${mensagem}"></p>
            </div>

            <div class="searchContainer">
                <form th:action="@{/contratos/buscar}" method="get">
                    <input type="reset" class="btn" value="Limpar busca">
                    <input type="text" name="nome" placeholder="Buscar por Nome" required>
                    <button type="submit" class="btn icone"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>CPF</th>
                            <th>Nome</th>
                            <th>Tipo do Plano</th>
                            <th>Data Contrato</th>
                            <th>Validade</th>
                            <th>valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="contrato : ${contratos}">
                            <td th:text="${contrato.codigo}">codigo</td>
                            <td th:text="${contrato.paciente.cpf}">CPF</td>
                            <td th:text="${contrato.paciente.nome}">Nome</td>
                            <td th:text="${contrato.plano.tipo}">Tipo plano</td>
                            <td th:text="${contrato.dataContratacao}">Data inicio</td>
                            <td th:text="${contrato.dataValidade}">Validade</td>
                            <td th:text="${contrato.valor}">Valor</td>
                            <td>
                                <a th:href="@{/contratos/editar/{codigo}(codigo=${contrato.codigo})}" class="btn"><i class="fa-solid fa-pen"></i></a>
                            </td>
                            <td>
                                <form th:action="@{/contratos/excluir/{codigo}(codigo=${contrato.codigo})}" method="post" th:onsubmit="return confirm('Tem certeza que deseja excluir o contrato?');">
                                    <button type="submit" class="btn btnExcluir"><i class="fa-solid fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a th:href="@{/contratos/novo}" class="btn"><i class="fa-solid fa-plus btn icone"></i></a>
                            </td>   
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
</html>